{% extends 'base.html.twig' %}

{% block title %}Logowanie{% endblock %}

{% block body %}

    <div class="container">
        <div id="registrationBox" style="margin-top: 150px;">
            <h2>Logowanie</h2><br>
            {{ form(form) }}
        </div>

    </div>

{% endblock %}
